<% include header %>

                  <div class="batteryTopBar">
                     <div class="addsection">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-outline-info"> <i class="fas fa-plus-circle"></i> Add Battery</button>
                      </div>
                    </div>

                  </div>
                  <hr>

                  <div class="batteryMiddleBar">
                        <section class="middle">
                            Show Battery Page
                        </section>
                  </div>
                  