<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3> Driver Control Page</h3>    
    <a href="/users/onof">
      <button >Profile</button>
  </a>


</body>
</html>
